
* {
    box-sizing: border-box;
}


html {
    font-size: 26px;
    margin: 0px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 

}

body{
    padding-top: 5px;
    background-color: #F7EED3;
    margin: 0px;
}

h5 {
    color: #F29195;
    font-size: 1rem;
}

p {
    color: #F29195;
    font-size: 0.6rem;
}

#nav-container{
    background-color: #F7EED3;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 800; 
    line-height: 26.4px; 
    color: #F29195;
    margin: 0px;
}

nav {
    margin: 0px;
}

nav.navbar {
    margin-top: 10;
    padding-top: 0;
    top: 0;
}

#nav-container .nav-link {
    color: #F29195 !important;
    margin: 0px;
}

.navbarScroll .navbar-nav .nav-link {
    color: #F29195 !important;
    margin: 0px;
}

.navbarScroll .nav-item.active .nav-link {
    color: #F29195 !important;
    margin: 0px;
}

.navbar-toggler {
    border-color: #F29195 !important;
    margin: 0px;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0.25rem 0rem;
    margin-right: auto;
}

.navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23F29195' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0px;
}

.hero {
    height:95vh;
    background-color: #F7EED3;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.hero-image {
    width: 63%;
    height: auto;
}

.hero-text {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 30%;
    margin-left: 0px;
    margin-top: 35px;
}

.hero-text p {
    padding: 0px;
    margin: 0px;
}


#t1 {
    font-size: 0.95rem;
    color: #b5890f;
}

#t2 {
    font-size: 0.85rem;
    color: #c79819;
}

#t3 {
    font-size: 0.75rem;
    color: #D0A329;
}

#t4 {
    font-size: 0.65rem;
    color: #D9A822;
}

#t5 {
    font-size: 0.55rem;
    color: #e3b024;
}

#t6 {
    font-size: 0.45rem;
    color: #f1c13d;
}

#t7 {
    font-size: 0.35rem;
    color: #edbc34;
}

#t8 {
    font-size: 0.25rem;
    color: #ebb625;
}

#t9 {
    font-size: 0.15rem;
    color: #ecb51f;
}

#t10 {
    font-size: 0.1rem;
    color: #ffbb00;
}

#gold-link {
    color: #D0A329;
}


.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
}

.large-text {
    color: #F29195 !important;
}

.card{
    background-color: #F7EED3;
}

#card-body{
    background-color: #F7EED3;
}

.card-title {
    font-size: 1rem;
}







@media (max-width: 768px) {
    
    .hero {
        flex-direction: column;   
        padding: 0px;            
        text-align: left;
        min-height: 100vh;
        justify-content: center;
        height: 100%;

        width: 100vw;
        height: 100vh;     
    }

    .hero-image {

        padding-top: 400px;
        width: 100%;
        height: auto;
        margin: 0px;
        padding-bottom: 0px;

    }

    .hero-text {
        padding-top: 0px;
        width: 85%;              
        margin-left: 0;
        padding-bottom: 35px;
        padding-left: 30px;     
    }


}